<?xml version="1.0" encoding="UTF-8"?>
<!-- 웹 프로젝트의 설정 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>jsp01</display-name>
	<!-- 서블릿 매핑 -->
	<servlet>
		<servlet-name>forward</servlet-name>
		<servlet-class>ch03_servlet.ForwardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>forward</servlet-name>
		<url-pattern>/ch03_servlet/forward.do</url-pattern>
	</servlet-mapping>
	
	<!-- 에러 페이지 설정 -->
	<error-page>
		<!-- 에러 코드 -->
		<error-code>404</error-code>
		<!-- 에러가 발생했을 때 표시할 페이지 -->
		<location>/ch04_error/404code.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/ch04_error/500code.jsp</location>
	</error-page>
	
	<!-- 기본 페이지 -->
	<welcome-file-list>
		<welcome-file>hello.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>